<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[http://jkzj-open.oss-cn-hangzhou.aliyuncs.com/clientSpace%2Ftest%2F15641680539%2FBroker.ipa]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/a3b987f950353e5dfc310ded04e5a70105c0ce35?e=1536830057&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:9rP20w5fPPb3GwjoyJOYXU2I8FI=]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/a3b987f950353e5dfc310ded04e5a70105c0ce35?e=1536830057&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:9rP20w5fPPb3GwjoyJOYXU2I8FI=]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.hzdg.djjx</string>
        <key>bundle-version</key>
        <string><![CDATA[2.7.0]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[贷经纪]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
